<div id="home">
    <h3>REGISTER</h3>
    <form>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label>Front End, Back End, or Full Stack</label>
            <input type="text" class="form-control" id="developer-type" aria-describedby="emailHelp"
                placeholder="Developer Type">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
</div>
<div class="form-group">
    <label>Bootcamp Name</label>
    <input type="text" class="form-control" id="bootcamp" placeholder="Enter name of bootcamp">
</div>
<div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" id="location" placeholder="Enter City & State">
</div>
<button type="button" id="register-button" class="btn btn-primary">Submit</button>
</form>
</div>